/* Apply the styles to the body
change display to flex
set flex-direction to column
set line-height to 1.3x whatever the default text size is */
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
/* Apply styles to the header tag
change display to flex
set justify content so that it spaces evenly between elements
align the items to the center
add 1% of the padding
change the background color to #13293d
set the text color to #fff (white) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}
/* Apply the styles to all h1's
set font size to 2x the default */
h1 {
  font-size: 200%;
}
/* Apply the styles to all h2's
margin top-bottom to 2%, left right to 0
set font-size to be 250% of default */
h2 {
  margin: 2% 0;
  font-size: 250%;
}
/* Apply styles to unordered lists inside of nav elements
set display to flex
space elements evenly between
set the minimum width of the ul to 300px */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
/* Apply styles to anchor tags inside of nav elements
change text-color to #b9C6AE
set bold the text
set decoration to none (remove underline) */

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
}
/* Apply styles to anchor tags inside of elements when they are being hovered over
change the color to white */
nav a:hover {
  color: #fff;
}

/* Apply styles to main elements
change display to flex
set the flex-grow to 1 , flex shrink to 1 (grows and shrinks at a normal rate in comparison to other elements set flex-basis to 0 (always flex)*/

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}
/* Apply styles to all article tags
set the bottom border with a 1px solid line that is #d8a47f */

article {
  border-bottom: 1px solid #d8a47f;
}
/* Apply styles  */

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

form {
  max-width: 400px;
}

form h3 {
  font-size: 150%;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

button {
  padding: 1% 2%;
  color: #fff;
  background-color: #13293d;
  border: none;
  outline: none;
  cursor: pointer;
}

/*Sets background image to arrow.png on the right, doesn't repeat, and contains it within the element*/
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.text-input {
  width: 100%;
  max-width: 100%;
}

.text-input, select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #b9C6ae;
}

.text-input:hover, .checkbox:hover, 
select:hover, button:hover {
  box-shadow: 0 0 5px #999;
}

/* when a text-inpu is being focused upon apply this style */
.text-input:focus {
  border-right-width: 5px;
}

/* if a place holder is shown in the text input, change the border style to dashed*/
.text-input:placeholder-shown {
  border-style: dashed;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row select {
  flex: 1 0 0;
  margin-left: 2%;
}

.flex-row input {
  margin-right: 2%;
}

/* Selects a label that is a sibling to a checked checkbox */
.checkbox:checked + label {
  color: #999999;
  font-style: italic;
}

/* Selects after content of a label that's a sibling of a check checkbox and displays "thanks"*/
.checkbox:checked + label::after {
  margin-left: 10px;
  font-size: 90%;
  content: "(thanks!)";
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
